div {
  flex-grow: 1;
  height: 50px;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(155, 209, 209);
  margin: 10px;
}

.two-equally-sized-columns div {
  background-color: gray;
  margin: 10px;
}
.two-equally-sized-columns .reduce-margin {
  margin-right: 0px;
}

.three-equally-sized-columns div {
  background-color: gray;
  margin: 15px;
}
.three-equally-sized-columns .reduce-margin {
  margin-right: 0px;
}

.three-unequal-columns div {
  border: 2px solid black;
  background-color: gray;
  margin: 12px;
}

.three-unequal-columns .bigger {
  flex-grow: 2;
  margin-right: 0px;
}
.three-unequal-columns .reduce-margin {
  margin-right: 0px;
}

.four-equally-sized-columns-and-a-footer div {
  border: 2px solid black;
  background-color: gray;
  margin: 12px;
}

.four-equally-sized-columns-and-a-footer .reduce-margin {
  margin-right: 0px;
}
.four-equally-sized-columns-and-a-footer .footer {
  flex-basis: 100%; /*???*/
  margin-top: 0px;
}
